<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <form action="/lesson" method="post">
            Enter a  lesson number from 1-21 <input type="number" name="lesson_number" min="1" max="21">
            <input type="submit" value="Go!">
        </form>
    </body>
</html>